<a routerLink="/">Accueil</a>
<div *ngIf="users" class="container">
 <h1> Tout les Utilisateurs de la liste</h1>
  <br>
  <div *ngFor="let user of users" class="card user-contain"  >
    <div>
      <p>Nom: {{user.name}}
      <p>Pseudo: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
    </div>
    <div>
      <p> Tel: {{ user.phone }}</p>
      <p>Site Web: {{user.website}}</p>
    </div>

  </div>
</div>

<div class="card" *ngIf="user">
  <div>
    <p>Nom: {{user.name}}
    <p>Pseudo: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
  <div>
    <p> Tel: {{ user.phone }}</p>
    <p>Site Web: {{user.website}}</p>
  </div>
</div>
