
.post-contain{
  max-width: 30%;
  margin: 1rem .5rem;
  padding: 1rem;
  a{
    cursor: pointer;
    &:hover{
      opacity: .7;
    }
  }
}
h3{
  width: 100%;
  text-align: center;
}
.posts_container{
  margin: 2rem auto;
}
.posts_wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: center;
}